*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    /* min-width: 500px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.name{
   height: 100px;
   width: 100%;
   /* background-color: #14213d; */
   font-size: 20px;
   color: #fca311;
   display:flex;
   justify-content: center;
   align-items: center;

}


.left{
 height: 1000PX;
 width: 35%; 
 float: left; 
 padding: 20px;   
 background-color:#353535;
 color:white ;
 
}
.right{
 height: 100%;
 width: 65%; 
 float: left; 
 padding: 20px; 
 background-color: #e5e5e5;
}



.right h2{
    width:100%;    
    padding-left: 10px;
    background-color: #fff;
    margin: 20px 0 10px;

}
.left h2{
    width: 110%;
    padding: 0px 10px;  
    border-top: solid 5px  #e5e5e5;
    margin: 25px 0px 15px;
}   
h3 {
color: #14213d;
margin: 10px 0 5px;
padding-left: 20px;
}
span{
    font-weight: 700;
    color: #14213d;

}
ul{
    list-style:none;
    

}
li{
    margin:3px auto;
    padding-left: 40px;
}
.ex{
    text-align: center;
    padding-top: 10px;
    
}
ul li::before{
    content:"•";
    color:#fca311;
    font-weight:bold;
    display: inline-block;
    width: 1em;
    margin-left:-1em;
   
}
.long li{
  margin: 5px;
}
.long{
    margin: 20px 0px;
}
.image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{      
    border:solid 5px #e5e5e5 ;
    width:200px;
    height: 200px;
    border-radius:50%; 
}

/* .pro{
   
    height:25%;

}
.for{
    height:22%;
   

}
.con{
   
    height:20%;


}  */
@media  (max-width:400px) {
    body{
        height: 1300px;
        /* min-width: 500px; */
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }
        
.left{
    height: 1000PX;
    width: 100%; 
    padding: 20px;   
    background-color:#353535;
    color:#e5e5e5 ;
    
   }
   .right{
    height: 100%;
    width: 100%; 
    padding: 20px; 
    background-color: #e5e5e5;
   }
   
}
